# Dependencies
/vendor/
/node_modules/

# Composer
composer.lock

# PHPUnit
.phpunit.result.cache
/build/

# macOS
.DS_Store
**/.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# WordPress
wp-config.php
